{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "semi": true,
  "importOrder": [
    "^@/data|domain|infra|main|middlewares/(.*)$",
    "^@\\/(presentation|i18n)[\\/]?(.*)$",
    "\\.\\.*/(?!.*\\.styles)",
    ".*\\.styles",
    "^@/public/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
